@charset "utf-8";
* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

.container {
    position: relative;
    width: 80%;
    height: calc(100vh - 66px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    transition: all 0.2 ease-in-out;
}

body {
    background: #232931;
    ;
}

header {
    height: 56px;
}

nav {
    text-align: right;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(83, 83, 83, 0.4);
    border-radius: 8px;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgba(121, 121, 121, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    font-size: 0px;
    margin-left: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 19px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    cursor: pointer;
    margin-left: 15px;
}

nav ul li+li {
    margin-left: 10px;
}

nav ul li a:hover {
    color: rgb(210, 210, 210);
}

nav .icon {
    background-image: url(../img/B\ Squared\ Zone.png);
    background-size: 50px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    height: 56px;
    width: 50px;
    display: inline-block;
    float: left;
}

nav ul li:last-child {
    float: right;
    height: 56px;
    margin-right: 10px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:last-child a {
    height: 75%;
    width: 70px;
    margin: 0;
    background-color: #4ECCA3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a:hover {
    color: #4ECCA3;
}

nav ul li:last-child a:hover {
    color: white;
    background-color: #2fc4ab;
}

section {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 750px;
    background-color: #393E46;
    border-radius: 8px;
}

#game {
    display: flex;
    flex-direction: column;
    height: 250px;
}

#answer {
    background-color: #4ECCA3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#guess {
    background-color: #4ECCA3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#guessingArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

section p {
    font-size: 150px;
    color: #EEEEEE;
}

#input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    height: 100px;
    padding-left: 15px;
    border: black;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 48px;
}

input[type="button"] {
    width: 80%;
    height: 100px;
    background-color: #4ECCA3;
    color: #EEEEEE;
    font-weight: 500;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 40px;
}


/*
#Eorre {
position: absolute;
top: calc(100% - 120px);
left: calc(100% - 120px);
right: 0;
bottom: 0;
font-size: 100px;
color: red;
}
*/

.winer {
    animation-name: winer1;
    animation-duration: 3s;
}

@keyframes winer1 {
    0% {
        transform: scaleY(100%);
    }
    25% {
        transform: scaleY(100%);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(100%);
    }
}

@keyframes winer2 {
    0% {
        transform: scaleY(0%);
    }
    25% {
        transform: scaleY(0%);
    }
    50% {
        transform: scaleY(100%);
    }
    100% {
        transform: scaleY(0);
    }
}

#end {
    font-size: 100px;
    position: absolute;
    margin: 0 auto;
    top: calc(50% - 120px);
    left: 0;
    right: 0;
    text-align: center;
    background-color: #232931;
    border-radius: 8px;
    width: 40%;
    color: #EEEEEE;
}

.winer2 {
    animation-name: winer2;
    animation-duration: 3s;
}

section p:last-child {
    font-size: 30px;
    color: #EEEEEE;
    margin: 0 auto;
    margin-top: 48.5px;
}

section h1 {
    font-size: 40px;
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
    color: #EEEEEE;
    font-weight: 300;
}