@charset "utf-8";
@import "index.css";
@import "bander.css";
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
            transition-duration: 0;
}
p,a,label,input,textarea,div,span{
-webkit-font-smoothing:  antialiased;
-webkit-font-smoothing:  grayscale;
text-rendering: optimizeLegibility;
letter-spacing: 0;
}
.container-flexbox{
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
