@import "base.css";
@import "contactMeResponsive.css";
.gcssForbox {
    height: 500px;
    width: 30%;
    background-color: rgb(0, 184, 114);
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 80px #A0A0A0;
}

.box-container {
    height: 100vh;
    margin-top: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*box1*/
.box-container .box1 {
    background-color: rgb(255,0,0);
}

.box-container .box1 i {
    font-size: 70px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.box-container .box1 h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.box-container .box1 h3 {
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.box-container .box1 p {
    color: white;
    font-size: 20px;
    text-align: center;
}
.box-container .box1 a {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.box-container .box1 p:last-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

/*box1*/

/*box2*/

.box-container .box2 {
    background-color: rgb(85, 96, 233);
}

.box-container .box2 i {
    font-size: 70px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.box-container .box2 h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.box-container .box2 h3 {
    margin-top: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.box-container .box2 p {
    color: white;
    font-size: 20px;
    text-align: center;
}

.box-container .box2 p:last-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

/*box2*/

/*box3*/

.box-container .box3 {
    background-color: white;
}

.box-container .box3 i {
    font-size: 70px;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.box-container .box3 h2 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.box-container .box3 h3 {
    margin-top: 100px;
    color: black;
    text-align: center;
    font-size: 30px;
}

.box-container .box3 p {
    color: black;
    font-size: 20px;
    text-align: center;
}
.box-container .box3 a {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.box-container .box3 p:last-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

/*box3*/