@charset "utf-8";
@import "index.css";
@import "bander.css";
@import "CallToAct.css";
@import "MyGames.css";
@import "GetInTouch.css";
@import "form.css";
@import "responsive.css";
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
            transition-duration: 0;
}

.container{
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;

}
